<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <form @submit.prevent="reg">
        帳號:<input type="text" v-model="account" placeholder="請輸入帳號">
        <br>
        密碼:<input type="password" v-model="password" placeholder="密碼">
        <br>
        用戶名:<input type="text" v-model="username" placeholder="用戶名">
        <br>
        email:<input type="text" v-model="email" placeholder="email">
        <br>
        <button type="submit">註冊</button>
        <div>{{info}}</div>
    </form>
</div>
</body>
<!--引入Vue3-->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!--引入Axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const {createApp} = Vue;

    createApp({
        data() {
            return {
                account: "",
                password: "",
                username: "",
                email: "",
                info:""
            }
        },
        methods: {
            reg() {
                axios.post("http://localhost:8080/user/save", {
                    account: this.account,
                    password: this.password,
                    username: this.username,
                    email: this.email
                }).then(res => {
                        this.info="註冊成功"
                }).catch(err => {
                    this.info="註冊失敗"
                    });
            }
        }
    }).mount("#app");
</script>

</html>